<form>
  <h1>DUMB FIT</h1>
  <input
    class="fields"
    type="text"
    name="Username"
    value=""
    placeholder="Nome"
    [(ngModel)]="user.name"
  />
  <br />
  <input
    id="password-field"
    class="fields"
    type="password"
    name="password"
    value=""
    placeholder="Senha"
    [(ngModel)]="user.password"
  />

  <br />

  <div style="margin-top: 2vh">
    <label for="isShow">Mostrar senha</label>
    <!-- <input -->
    <!--   style="margin-left: 4px" -->
    <!--   type="checkbox" -->
    <!--   name="" -->
    <!--   value="isShow" -->
    <!--   placeholder="" -->
    <!-- /> -->
    <button id="password-button" (click)="showPassword()"><img src="../../assets/imgs/checkmark-icon.png" style="height: 0.6rem; width: 0.6rem;" alt=""></button>
    <a style="float: right">Esqueceu a senha?</a>
    <br />
    <label for="isRemember">Lembrar</label>
    <input
      style="margin-left: 4px; margin-top: 2vh"
      type="checkbox"
      name=""
      value="isRemember"
      placeholder=""
    />
  </div>

  <div>
    <button id="button" (click)="goToPage('/home')">LOGIN</button>
  </div>
  <br />
  <div>
    <a>Criar conta</a>
    <!-- <button (click)="router.navigate(['/about'])">TEST</button> -->
  </div>
</form>
